<div>
	<h3 id = "tempSignUp">SIGN UP</h3>

	<div><form action = "/signup" method = "POST" enctype = "application/x-www-form-urlencoded">
		<input type = "text" name = "email"/>
		<input type = "text" name = "password"/>

		<input type = "submit" value = "Sign Up" />
	</form></div>

	<div><form action = "/signuptwitt" method = "GET">
		<input type = "submit" value = "Sign Up With Twitter"/></form></div></br>


	<div><form action = "/signupfacebook" method = "GET">
		<input type = "submit" value = "Sign Up With Facebook"/></form></div></br>


	<div><form action = "/authorizegoogle" method = "GET">
		<input type = "submit" value = "Authorize App With Google"/></form></div>
</div>